#container h3{
  text-align: center;
  padding-bottom: 30px;
}
#container form{
   margin-top: 100px;
   padding:20px 50px 50px 50px;
   background-image: url(../assets/Images/form-bg.jpg);
   background-size: cover;
   color: #fff;
   box-shadow: 0 0 30px #a7a7a7;
}
#container form label{
  color: #fff;
}

#container form input{
  border-bottom:1px solid #fff;
  color: #fff;
}